allow init_shell anr_data_file:dir getattr;
allow init_shell apk_private_data_file:dir getattr;
allow init_shell asec_image_file:dir getattr;
allow init_shell audit_log:dir { read search open getattr };
allow init_shell audit_log:file { read getattr open };
allow init_shell backup_data_file:dir getattr;
allow init_shell drm_data_file:dir getattr;
allow init_shell gps_data_file:dir getattr;
allow init_shell mac_data_file:dir rmdir;
allow init_shell sdcard_internal:dir { write remove_name search add_name };
allow init_shell sdcard_internal:file { write create unlink open getattr };
allow init_shell self:capability { fowner chown fsetid dac_override };
allow init_shell sensors_data_file:dir { getattr setattr };
allow init_shell sensors_data_file:file setattr;
allow init_shell sysfs_firmware_writable:file w_file_perms;
allow init_shell system_data_file:dir { write rmdir read remove_name create open add_name };
allow init_shell system_data_file:lnk_file getattr;
allow init_shell tee_data_file:dir { read getattr open };
allow init_shell tmpfs:file execute;
allow init_shell tmpfs:lnk_file read;
allow init_shell tombstone_data_file:dir getattr;
allow init_shell adb_keys_file:dir getattr;
allow init_shell app_data_file:dir { write search rmdir read remove_name open getattr };
allow init_shell block_device:blk_file getattr;
allow init_shell bluetooth_data_file:dir getattr;
allow init_shell device:fifo_file { read write ioctl getattr };
allow init_shell dhcp_data_file:dir getattr;
allow init_shell keystore_data_file:dir getattr;
allow init_shell rootfs:file getattr;
allow init_shell sdcard_internal:dir { read open };
allow init_shell systemkeys_data_file:dir getattr;
allow init_shell tmpfs:lnk_file getattr;
allow init_shell vpn_data_file:dir getattr;
allow init_shell wifi_data_file:dir getattr;
allow init_shell anr_data_file:dir { read search open };
allow init_shell anr_data_file:file getattr;
allow init_shell system_data_file:sock_file getattr;
