allow init_shell sysfs_firmware_writable:file w_file_perms;
allow init_shell adb_keys_file:dir { read search open };
allow init_shell adb_keys_file:file getattr;
allow init_shell audit_log:dir { read search open getattr };
allow init_shell audit_log:file { read getattr open };
allow init_shell drm_data_file:dir { read getattr open search };
allow init_shell drm_data_file:file getattr;
allow init_shell sdcard_internal:dir { write remove_name search read open };
allow init_shell sdcard_internal:file { write getattr unlink open };
allow init_shell self:capability { fowner dac_override fsetid dac_read_search };
allow init_shell system_data_file:dir { read open };
allow init_shell system_wpa_socket:sock_file { relabelfrom getattr };
allow init_shell tmpfs:file execute;
allow init_shell vpn_data_file:dir { read search open };
allow init_shell vpn_data_file:file getattr;
allow init_shell wifi_data_file:dir { read search open };
allow init_shell wifi_data_file:file getattr;
allow init_shell wifi_data_file:sock_file relabelto;
allow init_shell wpa_socket:sock_file { relabelfrom getattr };
allow init_shell sdcard_internal:dir add_name;
allow init_shell sdcard_internal:file create;
allow init_shell adb_keys_file:dir getattr;
allow init_shell anr_data_file:dir { read search open };
allow init_shell anr_data_file:file getattr;
allow init_shell app_data_file:dir { read search open getattr };
allow init_shell app_data_file:file getattr;
allow init_shell asec_image_file:dir { read search open };
allow init_shell asec_image_file:file getattr;
allow init_shell auditd_exec:file getattr;
allow init_shell backup_data_file:dir { read search open };
allow init_shell backup_data_file:file getattr;
allow init_shell bdaddrwriter_exec:file getattr;
allow init_shell bluetooth_data_file:dir { read getattr open search };
allow init_shell bluetooth_data_file:file getattr;
allow init_shell dalvikcache_data_file:dir { read open };
allow init_shell debuggerd_exec:file getattr;
allow init_shell dhcp_data_file:dir { read getattr open search };
allow init_shell dhcp_data_file:file getattr;
allow init_shell dhcp_exec:file getattr;
allow init_shell dhcp_system_file:dir { read getattr open search };
allow init_shell dhcp_system_file:file getattr;
allow init_shell dnsmasq_exec:file getattr;
allow init_shell drmserver_exec:file getattr;
allow init_shell gps_data_file:dir { read getattr open search };
allow init_shell gps_data_file:fifo_file getattr;
allow init_shell gps_data_file:file getattr;
allow init_shell gpsd_exec:file getattr;
allow init_shell hostapd_exec:file getattr;
allow init_shell installd_exec:file getattr;
allow init_shell kernel:process setsched;
allow init_shell keystore_data_file:dir { read getattr open search };
allow init_shell keystore_data_file:file getattr;
allow init_shell keystore_exec:file getattr;
allow init_shell labeledfs:filesystem remount;
allow init_shell mediaserver_exec:file getattr;
allow init_shell mtp_exec:file getattr;
allow init_shell netd_exec:file getattr;
allow init_shell ping_exec:file getattr;
allow init_shell ppp_exec:file getattr;
allow init_shell ppp_system_file:dir { read getattr open search };
allow init_shell ppp_system_file:file getattr;
allow init_shell qemud_exec:file getattr;
allow init_shell racoon_exec:file getattr;
allow init_shell rild_exec:file getattr;
allow init_shell rootfs:file { read getattr open };
allow init_shell runas_exec:file getattr;
allow init_shell sdcardd_exec:file getattr;
allow init_shell security_file:dir { read open };
allow init_shell sensors_config_exec:file getattr;
allow init_shell sensors_data_file:dir { read getattr open search };
allow init_shell sensors_data_file:file getattr;
allow init_shell servicemanager_exec:file getattr;
allow init_shell shell_data_file:dir { read getattr open search };
allow init_shell su_exec:file getattr;
allow init_shell surfaceflinger_exec:file getattr;
allow init_shell system_file:lnk_file getattr;
allow init_shell systemkeys_data_file:dir { read getattr open search };
allow init_shell systemkeys_data_file:file getattr;
allow init_shell tee_exec:file getattr;
allow init_shell tombstone_data_file:dir { read search open };
allow init_shell tombstone_data_file:file getattr;
allow init_shell vold_exec:file getattr;
allow init_shell vpn_data_file:dir getattr;
allow init_shell wallpaper_file:file getattr;
allow init_shell wifi_data_file:dir getattr;
allow init_shell wpa_exec:file getattr;
allow init_shell device:fifo_file { read write ioctl getattr };
