allow system_app sysfs_devices_tegradc:file { write getattr open };
allow system_app sysfs_writable:chr_file { read ioctl open };
allow system_app unlabeled:dir search;
