allow untrusted_app device:fifo_file { read write open };
allow untrusted_app device:sock_file write;
allow untrusted_app init:unix_stream_socket connectto;
allow untrusted_app unlabeled:dir getattr;
allow untrusted_app unlabeled:file { read getattr open execute };
allow untrusted_app app_data_file:file { rename unlink open setattr };
allow untrusted_app device:fifo_file write;
allow untrusted_app device:sock_file write;
allow untrusted_app rootfs:file getattr;
allow untrusted_app tmpfs:lnk_file { read getattr };
allow untrusted_app unlabeled:dir search;
allow untrusted_app video_device:chr_file { read write ioctl open };
allow untrusted_app anr_data_file:dir read;
allow untrusted_app app_data_file:dir { search open add_name };
allow untrusted_app app_data_file:file open;
allow untrusted_app device:fifo_file write;
allow untrusted_app device:sock_file write;
allow untrusted_app video_device:chr_file write;
allow untrusted_app app_data_file:file rename;
